@import "../../../mixins"
@import "../../../variables"
    
.container__content
    height: 100vh
    margin-top: 1rem
    
    @include container($justify: normal, $align: center)
    flex-direction: column
    gap: 1rem

    img
        width: 500px
        height: 300px
        border: 5px solid #868686
        border-radius: .5rem

    h1
        @include border-bottom($width: 2px, $style: solid, $color: $primary-color)    
            
    p
        color: $text-color